@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color:darkblue;
    --secondary-color:orange;
}
/* styles/globals.css or styles/ShootingStars.module.css */

.shooting-star {
    position: absolute;
    width: 6px;
    height: 3px;
    background-color: rgb(255, 255, 255); /* You can change the color here to dark blue */
    border-radius: 50%;
    box-shadow: 0 0 6px navy, 0 0 10px rgb(85, 203, 249); /* Glowing effect */
    opacity: 1;
    transform: translateX(0) translateY(0);
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .shooting-star {
      display: none;
    }
  }
  
  /* Hover Effects for Cards, Buttons, Logos */
.hover\:scale-105:hover {
    transform: scale(1.05);
  }
  
  .hover\:text-orange-300:hover {
    color: #FF8C00; /* Light orange */
  }
  
  .hover\:opacity-80:hover {
    opacity: 0.8;
  }
  
  .hover\:bg-blue-500:hover {
    background-color: #3B82F6; /* Blue-500 */
  }
  
  .transition {
    transition: all 0.3s ease-in-out;
  }
  
  /* For the hover effects to work on links */
  
  @layer base {
  :root {
        --background:0 0% 100%;
        --foreground:224 71.4% 4.1%;
        --card:0 0% 100%;
        --card-foreground:224 71.4% 4.1%;
        --popover:0 0% 100%;
        --popover-foreground:224 71.4% 4.1%;
        --primary:220.9 39.3% 11%;
        --primary-foreground:210 20% 98%;
        --secondary:220 14.3% 95.9%;
        --secondary-foreground:220.9 39.3% 11%;
        --muted:220 14.3% 95.9%;
        --muted-foreground:220 8.9% 46.1%;
        --accent:220 14.3% 95.9%;
        --accent-foreground:220.9 39.3% 11%;
        --destructive:0 84.2% 60.2%;
        --destructive-foreground:210 20% 98%;
        --border:220 13% 91%;
        --input:220 13% 91%;
        --ring:224 71.4% 4.1%;
        --chart-1:12 76% 61%;
        --chart-2:173 58% 39%;
        --chart-3:197 37% 24%;
        --chart-4:43 74% 66%;
        --chart-5:27 87% 67%;
        --radius:0.5rem;
    }
  .dark {
        --background:224 71.4% 4.1%;
        --foreground:210 20% 98%;
        --card:224 71.4% 4.1%;
        --card-foreground:210 20% 98%;
        --popover:224 71.4% 4.1%;
        --popover-foreground:210 20% 98%;
        --primary:210 20% 98%;
        --primary-foreground:220.9 39.3% 11%;
        --secondary:215 27.9% 16.9%;
        --secondary-foreground:210 20% 98%;
        --muted:215 27.9% 16.9%;
        --muted-foreground:217.9 10.6% 64.9%;
        --accent:215 27.9% 16.9%;
        --accent-foreground:210 20% 98%;
        --destructive:0 62.8% 30.6%;
        --destructive-foreground:210 20% 98%;
        --border:215 27.9% 16.9%;
        --input:215 27.9% 16.9%;
        --ring:216 12.2% 83.9%;
        --chart-1:220 70% 50%;
        --chart-2:160 60% 45%;
        --chart-3:30 80% 55%;
        --chart-4:280 65% 60%;
        --chart-5:340 75% 55%;
    }
}
  
  @layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
 