@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color:darkblue;
    --secondary-color:orange;
}
/* styles/globals.css or styles/ShootingStars.module.css */

.shooting-star {
    position: absolute;
    width: 8px;
    height: 4px;
    background-color: rgb(255, 9, 9); /* You can change the color here to dark blue */
    border-radius: 50%;
    box-shadow: 0 0 6px navy, 0 0 10px rgb(0, 183, 255); /* Glowing effect */
    opacity: 1;
    transform: translateX(0) translateY(0);
    overflow: hidden;
  }
  
  /* Hover Effects for Cards, Buttons, Logos */
.hover\:scale-105:hover {
    transform: scale(1.05);
  }
  
  .hover\:text-orange-300:hover {
    color: #FF8C00; /* Light orange */
  }
  
  .hover\:opacity-80:hover {
    opacity: 0.8;
  }
  
  .hover\:bg-blue-500:hover {
    background-color: #3B82F6; /* Blue-500 */
  }
  
  .transition {
    transition: all 0.3s ease-in-out;
  }
  
  /* For the hover effects to work on links */
 